h3 {
    margin: 0;
}

.container {
    display: flex;
}

.container > div {
    border: 1px solid black;
    width: 33%;
    min-height: 100px;
}

.btn_style {
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px 5px;
    font-size: 15px;
    font-weight: 700;
}

